html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  max-width: 100% !important; /* Rompe cualquier bloqueo de Vite */
  overflow: hidden;
  background-color: #f0f2f5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}